# Ignorar los directorios de construcción de Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!target/*.jar   # Incluye el archivo compilado final (ajustar según sea necesario)

# Ignorar configuraciones de Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Ignorar configuraciones de IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Ignorar configuraciones de NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
!**/src/main/**/build/

# Ignorar configuraciones de VS Code
.vscode/
